@font-face {
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    src: url('pc/ZhanKuKuaiLeTi2016XiuDingBan-1.ttf') format('truetype');
}
@font-face {
    font-family: 'ZhanKuKuHei-1';
    src: url('pc/ZhanKuKuHei-1.ttf') format('truetype');
}





.footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width:100%;
    height: 50px;
}

/*-------------导航栏---------------*/
.none{
    position: fixed;
    background-color: rgb(255, 255, 255);
    height:16%;
    box-shadow: 0 0 1em 1em #fff;
    z-index: 2;
}
ul.nav{
    margin-right:7em ;
    margin-top: 1.8em;
}
a{
    margin-right: 1em;
}
.nav-link/*导航栏文字*/
{   
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    color:brown;
}
.nav-link:hover/*悬停文字*/
{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    color: brown;
}
.nav-move{/*悬停*/
    position: relative;
    transition:All 0.4s ease-in-out;
}
.nav-move:hover{
    transform: translate(0,-1em);
}
.kai-1{
    text-align: center;
    background-color: brown;
}
.kai{
    text-align: center;
    position:fixed;
    z-index: 999;
    left:80%;
    top: 1em;
    height:1.5em;
    width:1.5em;
    border: none;
    border-radius: 0.3em;
    font-size: 2em;
    font-weight: 1000;
    color: white;
    display: none;
    transition: 0.5s;
    margin: 0 auto;
    background-color: brown;
    
}

@media screen and (max-width:1100px) {
    ul.nav{
        background-color: rgba(255, 255, 255, 0.658);
        box-shadow: 0 0 1em 1em rgba(255, 255, 255, 0.658);
        height: 65%;
        width: 1000px;
        margin: 0 auto;
        top: 7.5em;
        left: 0;
        text-align: center;
        position: relative;
        justify-content: center;
        transform: translatey(-150%);
        transition:0.4s ease-in-out;
    }
    .nav.open {
        transform: translateX(0);
        transition:0.4s ease-in-out;
    }
    a{
        margin-right: 0em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        transition:0.4s ease-in-out;
    }
    ul.nav{
        display: block;
        margin-right: 0em;
        margin-top: 0em;
    }
    .kai{
        display: block;
    }
    
    /*------logo-------------------------------------------*/
    .top-logo img 
    {
        position:fixed;
        width: 40%; /*图片缩放*/
        
    }

    @media screen and (max-width:1200px){
        .top-logo img 
        {
        position:fixed;
        width: 15em;
        padding-top: 1.5em;
    }
    }

    .news-logo img 
    {
        position:relative;
        left: 2em;
        top: 0.5em;
        width: 20%;
        height: auto;
    
    }
    @media screen and (max-width:1200px){
        .news-logo img 
        {
        position:fixed;
        width: 200px;
        padding-top: 0.5em;
        }
    }
    }

    /*------------------more-------------------*/

    .wrap{
        
        max-width: 1200px;
        max-height: auto;
        position: relative;
        top: 100px;
        text-align: center;
        justify-content: center;
    }

    .link-right{
        content: '';
        position: absolute;
        top: 20em;
        left:10.5em;
        width: 5px;
        z-index: -999;
        height: 1100px;
        border-radius: 100px;
        background-color: rgba(255,255,255,.5);
    }
    .box{
        padding-left: 3em;
        padding-right: 3em;
        position: relative;
        max-width: 1100px;
        min-height: 120px;
        top:3em;
        left: 5em;
        margin-bottom: 5em;
        display: flex;
        justify-content: space-between; 
    }

    .mar-pic{
        margin: 0 auto;
        padding-left: 3em;
        
        position: relative;
        max-width: 80%;
        
    }
    .mar-pic img{
        padding-left: 3em;
        position: relative;
        max-width: 80%;
        top:13em;
        z-index: 999;
    }
    .right{
        
        font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
        position: relative;
        padding: 1em;
        right:0em;
        max-width: 850px;
        border-radius: 15px;
        text-align: left;
        background-color: white;
        color: rgb(0, 0, 0);
        
    }
    @media screen and (max-width:1100px){
            .right{
                width:80%;
                height:auto;
            }
    }
    .part-title{
        font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
        position: relative;
        
        font-size: 20px;
    }
    .part-text{
        font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
        position: relative;

        margin: 0 auto;
        
        font-size:16px;
    }
    .center{/*part文字*/
        font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
        max-width: 150px;
        display: flex;
        
    
        padding-right: 4em;
        align-items: center;
    }
    @media screen and (max-width:1100px){
            .center span{
                width: 90%;
                height:auto;
            }
        }
    .center span{/*part的底*/
        font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
        max-width: 120px;
        background-color: white;
        border-radius: 10px;
        font-weight: 800;
        text-align:center;
        font-size: 20px;
        padding: 0.5em;
        
    }
    @media screen and (max-width:740px){
        .box{
            padding:0;
            display: inline;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
            padding-bottom: 5em;
            
        }
        .center{
            width: 180px;
            padding:0;
            padding-left: 3em;
            padding-bottom: 1em;
            padding-top: 2em;
        }
        .right{
            margin: 0 auto;
        }
        .link-right{
            display: none;
        }
        
    }
    .bottom-more{
        position: absolute;
        color: brown;
        background-color: white;
        top: 105em;
        left: 3em;
        width: 1600px;
        height:15em;
        box-shadow: 10px 0 25px 5px rgba(255, 255, 255, 0.582);
    }


    @media screen and (max-width:740px){
        .bottom-more{
            top:128em;
        }
    }
    @media screen and (max-width:587px){
        .bottom-more{
            top:138em;
        } 
    }