@font-face {
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    src: url('pc/ZhanKuKuaiLeTi2016XiuDingBan-1.ttf') format('truetype');
}
@font-face {
    font-family: 'ZhanKuKuHei-1';
    src: url('pc/ZhanKuKuHei-1.ttf') format('truetype');
}

html{
    overflow-x: hidden;
}

.none{
    position: fixed;
    background-color: rgb(255, 255, 255);
    height:7em;
    box-shadow: 0 0 10px 5px #fff;
    z-index: 2;
}
.navbar
{   
    position:fixed; 
    right: 2em;
    top: 2em;
    margin-right:1em;
}
.nav-link/*导航栏文字*/
{
    color:brown;
}
.nav-link:hover/*悬停文字*/
{
    color: brown;
}
.nav-move{/*悬停*/
    position: relative;
    transition:All 0.4s ease-in-out;
}
.nav-move:hover{
    transform: translate(0,-10px);
}
.nav-item/*导航文字底div*/
{    
    
    position:relative; /*偏移*/
    margin-right:1em;
    right: 3em;
}

.top-logo img /*top logo图片*/
{
    position:relative;
    left: 2em;
    top: 2em;
    width: 30%; /*图片缩放*/
    height: 30%;
}

.news-logo img /*news logo图片*/
{
    position:relative;
    left: 2em;
    width: 20%; /*图片缩放*/
    height: 20%;
}
/*logo图片悬停上移*/
.move{
    position: relative;
    transition:All 0.4s ease-in-out;
}
.move:hover{
    transform: translate(0,-10px);
}

/*top页视频背景*/
.beijing
{  
    margin: 0px;  
    padding: 0px;  
} 
video{  
    position: fixed;  
    right: 0px;  
    min-width: 95%;  
    min-height: 95%; 
    bottom: 0px;  
    
    width: 100%; 
    
    z-index:-11
}  
source/*源文件*/
{  
    min-width: 95%;  
    min-height: 95%;  
    height: auto;  
    width: auto;  
} 


/*news贴条*/
.news-text{
    position: relative;
    margin: 0 auto;
    top: 42em;
}
.news-pic{
    position: relative;
    left: 5em;
    width: 350px;
    height: 200px;
    border-radius: 10px;/*圆角*/
    box-shadow: 0 10px 20px 5px rgb(226, 226, 226);

}
.days{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    position: relative;
    left: 38.5em;
    bottom: 4em;
    font-size: 16px;
    color: white;
    width: auto;
    height: auto;
    border: none;
    background-color: rgb(227, 52, 52);
    box-shadow: 0 15px 20px 5px rgb(255, 191, 191);
    width: 8em;
    height: 2em;
    border-radius: 100px;/*圆角*/
}
.neirong{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    font-size: 26px;
    position: relative;
    left:5em;
    top: 1em;
    border: none;
    background-color: white;
    box-shadow: 0 10px 20px 15px rgb(226, 226, 226);
    width: 26.5em;
    height: 4em;
    border-radius: 10px;/*圆角*/
    transition:All 0.6s ease-in-out;
}
.neirong:hover{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    font-size: 26px;
    position: relative;
    left:5em;
    top: 1em;
    border: none;
    background-color: white;
    box-shadow: 0 10px 8px 2px rgb(226, 226, 226);
    width: 26.5em;
    height: 4em;
    border-radius: 10px;/*圆角*/
    transition:All 0.6s ease-in-out;
   
}
/*底部版权色*/
.bottom-inc{
    position: relative;
    background-color: brown;
    color: white;
    top:50em;
    height:15em;
    box-shadow: 10px 0 25px 5px rgba(227, 52, 52, 0.544);
    
}
.inc{
    letter-spacing:1px;
    position: relative;
    text-align: center;
    font-size: smaller;
    top: 7.5em;
}

/*-------news跳转------*/
.all-news{
    position: relative;
    top: 1em;
    width: 1100px;
    height: 1400px;
    border-radius: 40px;/*圆角*/
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 15px 20px 5px rgb(255, 191, 191);
}
.news-title{
    position: relative;
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    text-align: center;
    top: 2em;
}
.news-svg{
    position: relative;
    top: 9em;
    width: 40%;
    left: 52em;
}
.dayss{/*日期*/
    position: relative;

    left: 13em;
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    font-size: 16px;
    text-align: center;
    color: white;
    width: 8em;
    height: 2em;
    line-height: 2em;
    border: none;
    background-color: rgb(227, 52, 52);
    box-shadow: 0 15px 20px 5px rgb(255, 191, 191);
    width: 8em;
    height: 2em;
    border-radius: 100px;/*圆角*/
}
.ddaayy{
    position: relative;
    top: 0.35em;
}

.news-pic-memo{/*图片*/
    position: relative;
    top:8em;
    display: block;
    margin:auto;
    text-align: center;
    margin: 0 auto;
    width: 900px;
    border-radius: 20px;/*圆角*/
    
}
.news-pic-memo img{
    border-radius: 100px;/*圆角*/
    
    margin:0 auto;
    text-align: center;
}

.news-text-memo{/*文字*/
    margin: 0 auto;
    width: 50em;
    position: relative;
    top: 12em;
    height: auto;
    text-align: center;
}
.bottom-inc-news{
    position: relative;
    background-color: brown;
    color: white;
    height:15em;
    top: 12em;
    box-shadow: 10px 0 25px 5px rgba(227, 52, 52, 0.544);
}
.back-to-news{/*返回按钮*/
    position: relative;
    top: 5em;
    left: 58em;
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    font-size: 20px;
    text-align: center;
    color: white;
    width: auto;
    height: auto;
    border: none;
    background-color: rgb(227, 52, 52);
    box-shadow: 0 15px 20px 5px rgb(255, 191, 191);
    width: 8em;
    height: 2em;
    border-radius: 100px;/*圆角*/
    transition:All 0.4s ease-in-out;
}
.back-to-news:hover{
    position: relative;
    top: 5em;
    left: 58em;
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    font-size: 20px;
    text-align: center;
    color: white;
    width: auto;
    height: auto;
    border: none;
    background-color: rgb(227, 52, 52);
    box-shadow: 0 8px 8px 2px rgb(255, 191, 191);
    width: 8em;
    height: 2em;
    border-radius: 100px;/*圆角*/
    transition:All 0.4s ease-in-out;
}


/*-------biographt------*/
.about{/*about图片*/
    position: relative;
    bottom: 5em;
    width: 50%;
}

.bio{/*bio页面的内容div*/
    position:relative;
    top: 13em;
    width: 1300px;
    height: 650px;
    margin: 0 auto;
    border-radius: 40px;
}
.intro-all{/*文字部分的全部div*/
    position: relative;
    bottom:10em;
    left: 5em;
    width: 750px;
    height: 450px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 8px 10px 2px rgb(255, 191, 191);
}

.bio-intro{/*大标题div*/
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    position: relative;
    font-size: 50px;
    left: 0.75em;
    top: 0.8em;
}
.name{/*小标题div*/
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    position: relative;
    font-size: 20px;
    top:2em;
    left:2em;
}
.story{/*介绍div*/
    font-size: 16px;
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    position: relative;
    left: 2.5em;
    top:4em;
}
.stand-pic{/*立绘*/
    position: relative;
    bottom:45em;
    display: block;
    left:58em;
    width: 20%;
    transition:All 0.4s ease-in-out;
}
.stand-pic img{
    position: relative;
    margin:0 auto;

}
.stand-pic img:hover{
    position: relative;
    margin:0 auto;

}
.stand-pic:hover{
    position: relative;
    bottom:45.5em;
    display: block;
    left:57.8em;
    width: 21%;
    transition:All 0.4s ease-in-out;
}

.bottom-inc-bio{/*bio页底部版权*/
    position: relative;
    background-color: brown;
    color: white;
    height:15em;
    top:15em;
    box-shadow: 10px 0 25px 5px rgba(227, 52, 52, 0.544);
}

/*-------contact---------*/
.all-contact{
    padding-top: 12em;
    
    
}

.contact-img{
    position: relative;
    z-index: -1;
    bottom: 4em;
    left:7em;
    width: 43%;
}
.enter-text{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    width: 1100px;
    height: 690px;
    bottom:8em;
    margin: 0 auto;
    border-radius: 40px;
    background-color: white;
    position: relative;
    z-index: 1;
    box-shadow: 0 15px 20px 5px rgb(255, 191, 191);
}
.from-check{
    position: relative;
    padding-left: 5em;
}
.id-title{
    font-size: 25px;
}
.inquiry-details{
    position: relative;
    padding-left: 6.2em;
    padding-top:4em;
    padding-bottom: 10px;
}
.enter-name,.enter-email,.enter-subject{
    font-size: 25px;
    width: 30em;
    padding-left: 4em;
    padding-top:0.5em;   
}
.enter-detail{
    font-size: 25px;
    width: 40em;
    height: auto;
    padding-left: 4em;
    padding-top:0.5em;   
    
}

.form-control{
    background-color: rgba(219, 219, 219, 0.66);
    border: none;
    color: rgba(0, 0, 0, 0.718);
}
.form-control placeholder{
    background-color: rgba(219, 219, 219, 0.66);
    border: none;
    color: rgba(165, 165, 165, 0.718);
}
.form-control:focus{
    background-color: rgba(255, 255, 255, 0.66);
    border: none;
    box-shadow: 0 0px 2px 3px rgb(227, 52, 52);
    color: rgba(0, 0, 0, 0.718);
}
.con-intro{
    position: relative;
    bottom: 3em;
    
    color: brown;
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    text-align: center;
}
.send-center{
    text-align: center;
    position: relative;
    bottom: 1em;
}
.con-send,.con-send:focus{
    position: relative;
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    font-size: 20px;
    text-align: center;
    color: white;
    width: auto;
    height: auto;
    border: none;
    background-color: rgb(227, 52, 52);
    box-shadow: 0 15px 20px 5px rgb(255, 191, 191);
    width: 8em;
    height: 2em;
    border-radius: 100px;/*圆角*/
    transition:All 0.4s ease-in-out;
}
.con-send:hover{
    position: relative;
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    font-size: 20px;
    text-align: center;
    color: white;
    width: auto;
    height: auto;
    border: none;
    background-color: rgb(227, 52, 52);
    box-shadow: 0 8px 8px 2px rgb(255, 191, 191);
    width: 8em;
    height: 2em;
    border-radius: 100px;/*圆角*/
    transition:All 0.4s ease-in-out;
}

.btn-understood{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    width: 8em;
    height: 2em;
    background-color: rgb(227, 52, 52);
    border-radius: 100px;/*圆角*/
    transition:All 0.4s ease-in-out;
    border: none;
}
.btn-understood:hover{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    width: 8em;
    height: 2em;
    background-color: brown;
    border-radius: 100px;/*圆角*/
    transition:All 0.4s ease-in-out;
    border: none;
}
.btn-con-close{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    width: 5em;
    height: 2em;
    background-color: rgb(153, 153, 153);
    border-radius: 100px;/*圆角*/
    transition:All 0.4s ease-in-out;
    border: none;
}
.btn-con-close:hover{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    width: 5em;
    height: 2em;
    background-color: rgb(112, 112, 112);
    border-radius: 100px;/*圆角*/
    transition:All 0.4s ease-in-out;
    border: none;
}
.modal-body{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1'
}

.bottom-inc-con{/*contact页底部版权*/
    position: relative;
    background-color: brown;
    color: white;
    height:15em;
    top:8em;
    box-shadow: 10px 0 25px 5px rgba(227, 52, 52, 0.544);
}
.form-check-input:checked{
    background-color: rgb(227, 52, 52);
    border: none;
}
.form-check-input:focus{
    background-color: rgb(227, 52, 52);
    border: none;
    box-shadow: 0 0px 0px 3px rgb(255, 191, 191);
}
/*--------others-------*/
.about-us{
    position: relative;
    top:8em;
    margin: 0 auto;
    width: 80%;
}
.c-all{ 
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    position:relative;
    top: 9em;
    height: 490px;
    padding: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.card-ots{
    height: 400px;
    max-width: 350px;
    margin: 0 20px;
    background: white;
    transition: 0.4s;
    box-shadow: 0px 0 8px 2px rgba(159, 159, 159, 0.544);
    border-radius: 10px;
    overflow: hidden;
}
.card-ots:hover{
    height: 530px;
    box-shadow: 0px 0 10px 5px rgb(255, 191, 191);
    border-radius: 10px;

}
.card-ots .img-pic{
    height: 300px;
    width: 300px;
    text-align: center;
}
.card-ots .img-pic img{
    height: 300px;
    width: 300x;
    object-fit: cover;
    margin: 0 auto;
}

.card-ots .top-text .card-name{
    padding-top: 6px;
    text-align: center;
    font-size: 25px;
    color: #202020;
} 
.card-memo{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: rgba(101, 101, 101, 0.878);
}
.zhuanye{
    text-align: center;
  
    padding: 5px 5px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(204, 72, 72, 0.878);
    line-height: 22px;
}
.card-a-title{
    
    
    color: #5b5b5b;
    font-size: 16px;
    text-align: center;
}
.card-text{
    color:#7b7b7b;
    font-size: 14px;
   
    text-align: center;

}

.card-ots .card-t{
    padding: 0px 20px 10px 20px;
   
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.card-ots:hover .card-t{
  opacity: 1;
  visibility: visible;
}
.card-ots .card-t .card-all{
   text-align: justify; 
}
.bottom-inc-ots{/*bio页底部版权*/
    position: relative;
    background-color: brown;
    color: white;
    height:15em;
    top:17em;
    box-shadow: 10px 0 25px 5px rgba(227, 52, 52, 0.544);
}